.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
notebook/**
dist-notebook/**
.gitignore
.yarnrc
webpack.config.js
web.webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
esbuild-notebook.js
